class Lasersell < Formula
  desc "LaserSell CLI daemon for automated exits on Solana trades"
  homepage "https://lasersell.io"
  license "Proprietary"
  version "X.Y.Z"

  on_macos do
    on_arm do
      url "https://lasersell.github.io/apt/binaries/lasersell/X.Y.Z/lasersell_X.Y.Z_darwin_arm64.tar.gz"
      sha256 "SHA_DARWIN_ARM64"
    end
    on_intel do
      url "https://lasersell.github.io/apt/binaries/lasersell/X.Y.Z/lasersell_X.Y.Z_darwin_amd64.tar.gz"
      sha256 "SHA_DARWIN_AMD64"
    end
  end

  on_linux do
    on_arm do
      url "https://lasersell.github.io/apt/binaries/lasersell/X.Y.Z/lasersell_X.Y.Z_linux_arm64.tar.gz"
      sha256 "SHA_LINUX_ARM64"
    end
    on_intel do
      url "https://lasersell.github.io/apt/binaries/lasersell/X.Y.Z/lasersell_X.Y.Z_linux_amd64.tar.gz"
      sha256 "SHA_LINUX_AMD64"
    end
  end

  def install
    bin.install "lasersell"
  end

  test do
    assert_match "lasersell #{version}", shell_output("#{bin}/lasersell --version")
  end

  livecheck do
    url "https://lasersell.github.io/apt/binaries/lasersell/latest.txt"
    regex(/(\d+\.\d+\.\d+)/)
  end
end
